:root {
  --dark-theme: #1e1e1e;
  --light-theme: #f3f3f3;
  --orange-accent: #f9ad8e;
  --display-text: 'Share Tech Mono', monospace;;
  --reading-text: 'Quicksand', sans-serif;
}

body {
  background-color: var(--dark-theme);
  width: 97%;
  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: var(--reading-text);
  color: var(--light-theme);
}

p {
  font-size: 2vw;
  line-height: 1.5;
}

header {
  font-family: var(--display-text);
  color: var(--light-theme);
  font-size: 3vw;
}

a {
  text-decoration-color: rgba(0, 0, 0, 0);
  color: var(--light-theme);
}

img {
  width: 100%;
  margin: auto;
}

.navigation-container {
  position: fixed;
  margin-left: 1vw;
  margin-top: 1vw;
}

.navigation-container > * {
  color: var(--light-theme);
}

.top-navigation {
  display: none;
}

.top-navigation ul li{
  display: inline;
  font-size: 3vw;
}

.center-text {
  align-self: center;
}

.orange {
  color: var(--orange-accent);
}

.container {
  display: grid;
}

.main {
  grid-template-columns: 17vw 45vw auto;
  height: 60vw;
}

.home-page > * {
  color: var(--light-theme);
}

aside.container {
  grid-template-columns: auto auto;
  grid-template-rows: 10vw auto;
}

aside.container p {
  align-self: flex-end;
}

aside.container > * {
  font-size: 2vw;
}

aside.container nav {
  line-height: 8vw;
}

.home-title-text {
  grid-template-columns: 10vw auto;
  grid-template-rows: auto auto auto auto auto auto auto auto;
}

.home-title-text > * {
  align-self: center;
}

.home-title-text p {
  text-align: right;
  font-size: 1.5vw;
}

h1 {
  font-size: 4vw;
  font-family: var(--display-text);
}

.home-title-text h3 {
  font-size: 3vw;
}

.item3 {
  background-image: url("../images/profile-icon.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.root-container {
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.about-page section.container{
  grid-template-columns: 17vw auto;
  height: 50vw;
}

.about-text{
  padding-left: 10vw;
  align-self: center;
}



@media screen and (max-width: 1024px) {
  .main {
    grid-template-columns: 17vw auto;
    grid-template-rows: 40vw 40vw;
    height: 80vw;
  }
  
  .home-title-text {
    grid-template-columns: auto auto;
  }

  .item3 {
    grid-area: 2 / 2 / 2 / 2;
  }

  aside.container {
    grid-template-rows: 20vw 40vw;
  }

  aside.container p {
    align-self: center;
  }

  .about-page {
    margin-top: 1vw;
  }

}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .main {
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 80vw;
  }
  
  .home-title-text {
    grid-template-columns: auto auto;
  }

  .side-navigation { 
    display: none;
  }

  .top-navigation {
    display: contents;
    text-align: center;
  }

  .navigation-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
  }

  aside.container{
    display: none;
  }

  .item3 {
    grid-area: 1 / 1 / 1 / 1;
    margin-top: 10vw;
  }

  .hide-when-mobile {
    display: none;
  }

  section.navigation-container {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    padding: 2vw;
  }

  .about-page section.container{
    grid-template-columns: auto;
    height: 40vw;
  }
  .about-text{
    padding-left: 0;
  }

  .about-text > * {
    text-align: center;
    align-self: center;
  }
}